.main-header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #dc9c2c;
  justify-content: center;
  align-items: center;
  background-image: url('../images/textured-bg.png');
}

.main-header div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


/* .nav-img {
  
} */