.new-tweet {
  justify-content: center;
  width: 100%;
  border: 1px dotted black;
}

.new-tweet h2 {
  margin: 0 auto 25px;
  text-align: center;
  z-index: 1;
}

#tweet-text{
  background-color: #f4f1ec;
  border: none;
  width: 90%;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.new-tweet form {
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

#tweet-text {
  display: block;
  margin: 0 auto;
  border-bottom: 4px solid rgb(31, 30, 30);
  width: 100%;
  font-weight: 600;
}

.new-tweet button {
  background-color: #4056A1;
  margin: 10px 0 0 0;
  font-family: "Bungee", sans-serif;
  color: white;
  border-color: #4056A1;
}

.new-tweet output {
  font-family: "Bungee", sans-serif;
  margin: 5px 2%;
}

.new-tweet label {
  font-size: x-large;
  margin-bottom: 0;
}

.spacer {
  height: 5px;
}

